<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Welcome</title>
    </head>
    <body>
        <div>
            <h1>
                Welcome To DND Online
            </h1>
        </div>
        <div>
            <div>
                <input type="button" onclick="location.href='/signin';" value="Sign In"/> <input type="button" onclick="location.href='/createuser';" value="Create User"/>
            </div>
        </div>

    </body>
</html>