<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>In Game</title>
    </head>
    <body>
        <div id="playerSheet" align="left">
            <p>Player Sheet</p>
        </div>
        <div id="gameMap" align="right">
            <canvas id="canvasMap" height="1680" width="1260"></canvas>
        </div>
        <script type="text/javascript" th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
        <script type="text/javascript" th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        <script type="text/javascript" th:src="@{/map/canvas.js}"></script>
    </body>
</html> 