<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" th:href="@{/stylesheet.css}" type="text/css"/>
        <title>Sign In</title>
    </head>
    <body>
        <div>
            <h1>
                Welcome To DND Online
            </h1>
        </div>
        <div>
            <div th:if="${error}">
                <p th:text="${error_message}"></p>
            </div>
            <div>
                <form action="login" method="POST">
                    <div>
                        <input type="text" placeholder="Username" name="username"/> <br /><br />
                    </div>
                    <div>
                        <input type="password" placeholder="Password" name="password"/> <br /> <br />
                    </div>
                    <div>
                        <button type="submit">Submit</button> <input type="reset" value="Reset" /> <br />
                    </div>
                </form>
            </div>
        </div>

    </body>
</html>